{% if comments %}

<section id="comments">
  <h3 id="comment-title">Комментарии</h3>
  {% for comment in comments %}
    {% include 'comment.njk' %}
    {% for comment in comment.answers %}
      {% set is_answer = true %}
      {% include 'comment.njk' %}
    {% endfor %}
  {% endfor %}
{#   <div id="respond" class="comment-respond">
    <h3 id="reply-title" class="comment-reply-title">Добавить комментарий: <small><a rel="nofollow" id="cancel-comment-reply-link" href="/razmyshlenija-vladelca-doma-iz-meshkov/#respond" style="display:none;">Отменить ответ</a></small></h3>
    <form action="https://svobodaiznutri.ru/wp-comments-post.php" method="post" id="commentform" class="comment-form"><textarea autocomplete="new-password" name="da06b02f9f" aria-required="true"></textarea><textarea id="comment" aria-hidden="true" name="comment" autocomplete="new-password" style="padding:0 !important;clip:rect(1px, 1px, 1px, 1px) !important;position:absolute !important;white-space:nowrap !important;height:1px !important;width:1px !important;overflow:hidden !important;" tabindex="-1"></textarea><input class="input name" name="author" required type="text" value="" placeholder="Имя" />
      <input class="input email" name="email" required type="text" value="" placeholder="email" />
      <div class=clr></div>
      <p class="comment-form-cookies-consent"><input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes" /> <label for="wp-comment-cookies-consent">Сохранить моё имя, email и адрес сайта в этом браузере для последующих моих комментариев.</label></p>
      <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Оставить комментарий" /> <input type='hidden' name='comment_post_ID' value='668' id='comment_post_ID' />
        <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
      </p>
    </form>
  </div><!-- #respond --> #}

</section>
{% endif %}
