<footer id="footer">
	<div class="grid">
		<div class="copiright left">© 2013-{{metadata.currentYear}} {{metadata.title}}</div>
		<div class="social right">
			<a href="https://vk.com/svobodaiznutri" target="_blank" title="Наша группа вКонтакте"><img src="{{'/images/vk.svg' | url}}" class="logo svg vk" alt="Наша группа вКонтакте"></a>
		</div>

		<div class="metrics right">
			{% include 'yandex-metrika-informer.njk' %}
		</div>

	</div>
</footer>

<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700%7CUbuntu+Condensed&subset=latin,cyrillic' rel='stylesheet' property='stylesheet' type='text/css'>

{% include 'yandex-metrika.njk' %}
