<header id="header">
	<div class="grid">
		<div class="header-content">
			<a class="logo" href="/" id="logobox">
				<img
					src="{{ '/images/svo_baloon_white.svg' | url}}"
					alt="Логотип {{metadata.title}}"
					class="logo-image"
				/>
				<img src="{{ '/images/logoname.png' | url}}" alt="{{metadata.title}}. {{metadata.slogan}}">
			</a>
			<div class="menu">
				{% include 'menu.njk' %}
			</div>
			<button class="burger" aria-label="Меню" aria-label="Меню"><span></span><span></span><span></span></button>
		</div>
		<div class="menu-mobile">
			<div class="menuwrap">
				{% include 'menu.njk' %}
			</div>
		</div>
	</div>
</header>
