<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="generator" content="11ty">

  <link rel="manifest" href="{{'/manifest.json' | url}}">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" type="image/png" sizes="16x16" href="{{'/images/favicons/favicon-16x16.png' | url}}">
  <link rel="icon" type="image/png" sizes="192x192" href="{{'/images/favicons/favicon-192x192.png' | url}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{'/images/favicons/favicon-32x32.png' | url}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{'/images/favicons/favicon-16x16.png' | url}}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{'/favicons/apple-touch-icon.png' | url}}">
  <meta name="theme-color" content="#978572">
  <meta name="msapplication-TileColor" content="#978572">
  <meta name="msapplication-TileImage" content="{{'/images/favicons/ms-icon-144x144.png' | url}}">

  <title>{{title or metadata.title}}</title>

  <link rel="stylesheet" href="{{'/reset.css' | url}}">
  <link rel="stylesheet" href="{{'/style.css' | url}}">
  <link rel="stylesheet" href="{{'/media.css' | url}}">

  {% include 'seo.njk' %}

  <meta name="yandex-verification" content="54f2d7ee5a4d2b80" /> {# yandex webmaster #}
  <meta name='yandex-verification' content='781b402150e6d49b' /> {# yandex metrika #}
</head>

<body>

  {{content | safe}}

</body>
</html>
