---
layout: layout
---

{% include 'header.njk' %}

<main id="blog" class="page">
	<div class="grid">

		<section id="content" class="blog post">

			<h1 class="hid-h1">{{title}}</h1>

			{% set posts = pagination.pages[pagination.pageNumber] %}
			{%- for post in posts %}
				{% if post.data.title %}
				  <article>
				    <div class="thumb" style="background-image:
				      url('/{{post.data.permalink}}images/{{post.data.coverImage}}');">
				      <a href="/{{post.data.permalink}}#post" class="link"></a>
				      <header>
				        <h2><a href="/{{post.data.permalink}}#post">{{post.data.title}}</a></h2>
				        <div class="meta">
				          <span class="date">{{post.data.date | date}}</span>
				          <span class="divider"></span>
									{% for tag in post.data.tags -%}
				          	<a class="tag" href='{{tag | tagLink}}'>{{tag | i18n}}</a>{% if loop.index !== tags.length %},{% endif %}
									{% endfor %}
				          </div>
				      </header>
				    </div>
				    <div class="text">
				      {{post._templateContent | postExcerpt | safe }}
				      <a class="readmore" href="/{{post.data.permalink}}#post">Читать далее</a>
				    </div>
				  </article>
				{% endif %}
			{% endfor -%}

			{% if pagination.pages.length > 1 %}
			  <div id="nav-below">
					<nav id="post_nav" aria-labelledby="my-pagination">
					{%- for pageEntry in pagination.pages %}
						{% if page.url == pagination.hrefs[loop.index0] %}
				    	<span class="current" aria-current="page">{{ loop.index }}</span>
						{% else %}
				    	<a href="{{ pagination.hrefs[loop.index0] }}">{{ loop.index }}</a>
						{% endif %}
					{%- endfor %}
					</nav>
			  </div>
		  {% endif %}

		</section>

		{% include 'sidebar.njk' %}

	</div><!-- grid -->
</main>

{% include 'footer.njk' %}
