---
layout: layout
---

{% include 'header.njk' %}

<main id="blog" class="page">
	<div class="grid">

	{# {%dynamic_sidebar('top-sidebar');%} #}

		<section id="content" class="blog post">

			<article id="post">


				<div class="thumb" style="background-image:
					url({% if coverImage %}'{{'images/'+coverImage | url}}'{% else %}'{{'/images/default.png' | url}}'{% endif %});">

					<header>
						<h1>{{title}}</h1>
						<div class="meta">
							<span class="date">{{date | date}}</span>
							{% if tags %}
								<span class="divider"></span>
								{% for tag in tags -%}
									<a class="tag" href='{{tag | tagLink}}'>{{tag | i18n}}</a>{% if loop.index !== tags.length %},{% endif %}
								{% endfor %}
							{% endif %}
						</div>
					</header>

				</div>

				<div class="text">
				  {{content | safe}}
{#
					<div class="center">
						<div class='podelis' style="margin: 1rem auto 0;"><img alt="Поделись статьёй с другом!" src='{{'images/Podelis.gif' | url}}' /></div>
						<script type="text/javascript">(function() {
						  if (window.pluso)if (typeof window.pluso.start == "function") return;
						  if (window.ifpluso==undefined) { window.ifpluso = 1;
						    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
						    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
						    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
						    var h=d[g]('body')[0];
						    h.appendChild(s);
						  }})();</script>
						<div class="pluso" data-background="none;" data-options="big,square,line,horizontal,counter,sepcounter=1,theme=14" data-services="email,vkontakte,odnoklassniki,facebook,twitter,google,livejournal"></div>
					</div> #}

					{% set previousPost = collections.all | getPreviousCollectionItem(page) %}
					{% if previousPost %}
						<a href="{{previousPost.url}}" class="prev">
							<div>Предыдущая статья</div>
							<span>«{{previousPost.data.title}}»</span>
						</a>
					{% endif %}

					{% set nextPost = collections.all | getNextCollectionItem(page) %}
					{% if nextPost %}
						<a href="{{nextPost.url}}" class="next">
							<div>Следующая статья</div>
							<span>«{{nextPost.data.title}}»</span>
						</a>
					{% endif %}

				</div>
			</article>

			{% include 'comments.njk' %}

		</section>

		{% include 'sidebar.njk' %}

	</div><!-- grid -->
</main>

{% include 'footer.njk' %}
